table {
    height: fit-content;
    width: fit-content;
    margin-top: 200px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 400;
    z-index: 0;
}

@media only screen and (max-width: 1200px) {
    table {
        height: fit-content;
        width: fit-content;
        margin: auto;
        margin-top: 200px;
    }
}

td:hover {
    background-color: black;
    color: black;
    -webkit-animation: change-color 4s linear 0s infinite normal;
    -moz-animation: change-color 4s linear 0s infinite normal;
    -ms-animation: change-color 4s linear 0s infinite normal;
    animation: change-color 4s linear 0s infinite normal;
    border: 3px grey solid;
    margin: 1px;
}

@-webkit-keyframes change-color {
    0% {
        border-color: grey;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: grey;
    }
}

@keyframes change-color {
    0% {
        border-color: grey;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: grey;
    }
}

td {
    height: 90px;
    width: 150px;
    display: inline-flex;
    transform: skew(20deg);
    border: 2px solid grey;
    margin: 2px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

td span {
    height: fit-content;
    align-self: flex-end;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: white;
}

#legends-head {
    padding-top: 50px;
    color: white;
}

#BHD {
    background-image: url('../img/legends/stock.png');
}

#GIB {
    background-image: url('../img/legends/stock.png');
}

#LIF {
    background-image: url('../img/legends/stock.png');
}

#PAT {
    background-image: url('../img/legends/stock.png');
}

#WRA {
    background-image: url('../img/legends/stock.png');
}

#BAN {
    background-image: url('../img/legends/BAN.png');
}

#CAU {
    background-image: url('../img/legends/stock.png');
}

#MIR {
    background-image: url('../img/legends/stock.png');
}

#OCT {
    background-image: url('../img/legends/stock.png');
}

#WAT {
    background-image: url('../img/legends/stock.png');
}

#CRY {
    background-image: url('../img/legends/stock.png');
}

#REV {
    background-image: url('../img/legends/stock.png');
}

#LOB {
    background-image: url('../img/legends/stock.png');
}

#RAM {
    background-image: url('../img/legends/stock.png');
}

#HOR {
    background-image: url('../img/legends/stock.png');
}

#FUS {
    background-image: url('../img/legends/stock.png');
}

#VAL {
    background-image: url('../img/legends/stock.png');
}

#SEE {
    background-image: url('../img/legends/stock.png');
}

#ASH {
    background-image: url('../img/legends/stock.png');
}

#MMG {
    background-image: url('../img/legends/stock.png');
}