table {
    margin-top: 200px;
    margin-left: 20px;
}

td:hover {
    background-color: black;
    color: white;
}

td {
    height: 80px;
    width: 150px;
    display: inline-flex;
    transform: skew(20deg);
    border: 2px solid grey;
    margin: 1px;
    cursor: pointer;
}

td span {
    align-self: flex-end;
    width: 100%;
    text-align: center;
    background-color: grey;
}