@font-face {
    font-family: ApexLegends;
    src: url(ApexRegular.otf);
}

body {
    background-image: url(..//img/backg.png);
    background-repeat: no-repeat;
    background-size: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: ApexLegends;
    font-size: large;
    letter-spacing: 2.5px;
}

li {
    float: left;
    display: inline-flex;
    width: max-content;
    height: 50px;
    transform: skew(20deg);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li span {
    width: 100%;
    height: 100%;
    display: flex;
    transform: skew(-20deg);
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

.login {
    float: right;
    margin-right: 25px;
}

#first {
    margin-left: 25px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-family: ApexLegends;
    font-size: large;
    letter-spacing: 2.5px;
}